* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: calc(100vw - (100vw - 100%));
    padding: 0 3rem;
}

@media (max-width: 500px) {
    body {
        padding: 0 2rem;
    }
}